# Lib
Lib/*
Scripts/*
pyvenv.cfg
.venv/

__pycache__/*

Pipfile
Pipfile.lock


# Credentials
*credentials.json
*credentials*
*token.json

*eco-backup.csv

MYREADME*

# Environment / Secrets
.env
*serviceAccount.json

# Python
__pycache__/
*.pyc
.mypy_cache/
.pytest_cache/

# Logs
*.log

# Windows/WSL artifacts
*:Zone.Identifier
