# Lib 
Lib/*
Scripts/*
pyvenv.cfg

__pycache__/*

Pipfile
Pipfile.lock


# Credentials
*credentials.json
*credentials*
*token.json

*eco-backup.csv

MYREADME*

# Environment / Secrets
.env
*serviceAccount.json

# Python
__pycache__/
*.pyc

# Windows/WSL artifacts
*:Zone.Identifier
